/* HTML Elements */


ul {
  list-style-type: none;
}


/* HTML Classes */


.header {
  /*background-image: url("../resources/css-resources/binary_home-screen-alternate");*/
  background-image: url("../resources/css-resources/binary_home-screen.jpg");
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid #FFF;
  height: 700px;
  width: 100%;
}

.profile {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}


/* HTML ids */


#frosttusk {
  left: 5px;
  top: 25px;
  position: relative;
}

#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}
