/* HTML Classes */


.header {
  /*background-image: url("../resources/css-resources/circuit_top-banner-alternate");*/
  background-image: url("../resources/css-resources/circuit_top-banner.png");
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid #FFF;
  height: 100px;
  width: 100%;
}
